# Backend (Spring Boot)
Backend/target/
*.log
*.class
*.jar
*.war
.mvn/
.settings/
.project
.classpath

# Frontend (React / Node)
node_modules/
build/
dist/
.env

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db